<div>
  <h1>News List</h1>
  <div class="wrapper">
    <div>
      <ul>
      <li *ngFor="let item of news" [routerLink]="['/detail/',item._id]">{{item.title}}</li>
    </ul>
    </div>
    <div>
      <h3>Filter by</h3>
      <div>
        <button (click)="FilterBy('1')" [class.active]="isActive['1']">Health</button>
        <button (click)="FilterBy('2')" [class.active]="isActive['2']">Life</button>
        <button (click)="FilterBy('3')" [class.active]="isActive['3']">Food</button>
      </div>
    </div>
  </div>
  <button routerLink="/create">Add news</button>

  <div>
    <h3>Pages:</h3>
    <span *ngFor="let item of pages" (click)="NextPage(item)" [class.active]="isActivePage[item]">{{item}}</span>
  </div>
</div>
